.container {
    display: flex;
    flex-direction:column ;
}

.title {
    font-size: 2em;
    color: white;
}

.friendsContainer{
    display: flex;
    flex-wrap: wrap;
}

.friendsContainer img{
    width: 2em;
    border-radius: 20px;
}



